//$dark-bg: #bf4080;
$dark-bg: #008080;
$light-bg: white;
$light-text: white;
// $dark-text: #008080;
$dark-text: black;

$padding-btn: 0.5em;
$family-btn: Lucida Handwriting;
$radius-btn: 0.375em;
$width-btn: 90px;
$height-btn: 48px;

$scheme-dark: $dark-bg, $light-text;
$scheme-light: $light-bg, $dark-text;